/* --- GLOBAL STYLING --- */
:root {
  --primary-color: #17a2b8;
  --dark-color: rgb(20, 20, 20);
  --light-color: #fff;
  --danger-color: #0000;
  --success-color: #0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--light-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 550;
}
a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 16px;
}

p {
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: white;
}

footer {
  display: flex;
  flex-shrink: 0;
  text-align: center;
  color: white;
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 12px 0;
}

.x-large {
  font-size: 3rem;
  color: white;
  letter-spacing: 0px;
  margin: 0;
}

.large {
  font-size: 2.6rem;
  color: black;
  letter-spacing: 0px;
  margin: 0;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #726c98;
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-shark {
  background-image: url('./img/pike-vector.svg');
  background-size: cover;
  background-position: bottom;
}

.shadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.377);
}

.rounded {
  border-radius: 32px;
}

.btn {
  padding: 8px 16px;
  margin: 10px;
  border-radius: 16px;
  font-weight: bolder;
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
}

.btn-primary:hover {
  background-color: #29d8d8;
  color: var(--light-color);
}

.btn-light {
  background-color: var(--light-color);
  color: black;
}

.btn-light:hover {
  color: black;
}

.link-primary {
  color: var(--primary-color);
}

.lead {
  margin: 12px 0 36px 0;
  max-width: 750px;
  font-weight: 600;
  width: 80%;
  text-align: center;
}

.black {
  color: black;
}

.white {
  color: white;
}

.logo {
  background-image: url(img/logo.png);
  background-position: center center;
  background-size: cover;
  width: 120px;
  height: 40px;
  position: relative;
  top: 8px;
}

.logo-big {
  background-image: url(img/logo.png);
  background-position: center center;
  background-size: cover;
  width: 180px;
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 10vh;
}

.content-cluster {
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  backdrop-filter: blur(5px);
}

.textbox p,
.textbox h1 {
  color: black;
}

@media screen and (min-width: 1430px) {
  .bg-shark {
    padding-left: calc(100vw / 6);
    padding-right: calc(100vw / 6);
  }
}

.textbox {
  flex-wrap: wrap;
  flex: 1 1 350px;
  max-width: 350px;
  max-height: 340px;
  text-align: center;
  margin: 2rem;
}

.whole-screen {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.abstract-background {
  background-image: url('img/abstract-vector.svg');
}

.abstract-background-2 {
  background-image: url('img/abstract-vector-2.svg');
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-color);
  padding: 48px 48px;
}

form.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='password_confirm'] {
  border: none;
  border-bottom: 2px solid black;
  width: 320px;
  height: 40px;
  margin: 6px 0;
  font-size: 18px;
  font-weight: 550;
}

input[type='submit'],
.btn-larger {
  margin: 20px;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-family: 550;
}

::placeholder {
  font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

/* --- COMPONENT-SPECIFIC STYLING --- */
/* --- LANDING PAGE --- */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: url(img/fishing-vector.svg);
  background-size: cover;
  background-position: center;
}

.landing-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  backdrop-filter: brightness(50%);
}

.img-container {
  background-image: url(img/mobile-vector.svg);
  background-position: center center;
  background-size: cover;
  max-width: 450px;
  width: 80vw;
  max-height: 214.4px;
  height: 70vh;
}

/* --- FOOTER --- */
i {
  margin-right: 5px;
}

.copyright {
  width: 100vw;
  background-color: var(--primary-color);
}
